@font-face {
  font-family: "PT-Mono";
  src: url("./fonts/PTMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #94febf; /* Light Green */
  --primary-invert: #000403; /* Almost Black */
  --warning: #ff8a00; /* Bright Orange */
  --danger: #ff0658; /* Bright Pink/Red */
  --dark: #171717; /* Dark Grey */
  --white: #eee; /* Light Grey */
  --black: #2c4538; /* Deep Green */
  --violet: #865ff3; /* Violet */
  --gray: #6b6b6b; /* Medium Grey */
  --dark-tooltip: #313131; /* Dark Grey */
}

* {
  font-family: "PT-Mono", monospace;
  /* border: 1px solid red; */
  background-color: var(--primary-invert);
}

h3,
h4,
h5 {
  color: var(--primary);
}

.navbar {
  display: flex;
  align-items: flex-start;
  padding-right: 100px;
  /* width: 100%; */
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
}

.logo {
  height: 40px;
  margin-right: 20px; /* Space between the logo and the nav links */
}

.transactions-li {
  list-style-type: none;
  color: var(--white);
  margin: 0 10px 10px 0;
  font-size: 14px;
}

.transaction-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 50px;
}

.chart-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: auto;
}
.pie-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: auto;
  flex-direction: column;
}

canvas {
  width: 100% !important;
  height: auto !important;
}
/* Select network stuff */

.network-tab {
  display: flex;
  margin: 10px;
  align-items: flex-start;
  gap: 30px;
}

.item {
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.network-checkbox,
.crypto-checkbox {
  margin-left: auto;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  border-radius: 50%;
}

.item.is-active .network-checkbox,
.item.is-active .crypto-checkbox {
  background-color: var(--primary);
  border-color: var(--primary);
}

.network-icon {
  padding: 10px;
}

.network-bold {
  color: var(--white);
  padding-right: 10px;
}
.dropdown {
  position: relative;
  display: block;
}

.dropbtn {
  color: var(--primary);
  padding: 16px 200px 16px 16px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  text-align: left;
  position: relative;
}

.dropbtn i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-invert);
  color: var(--white);
  z-index: 1;
  /* width: 50%; */
}

.dropdown:hover .dropdown-content {
  display: block;
}
