{% load static %}



<div class="transaction-flex">
    <ul>
        <h3>Latest deposits:</h3>
        {% for item in data_deposit_latest %}
        <li class="transactions-li">{{ item.amount }} {{ item.currency }} {{ item.timestamp }}</li>
        {% endfor %}
    </ul>

    <div class="chart-container">
        <canvas id="depositChart">
    </div>
</div>

<br>

<div class="transaction-flex">
    <ul>
        <h3>Latest withdrawals:</h3>
        {% for item in data_deposit_latest %}
        <li class="transactions-li">{{ item.amount }} {{ item.currency }} {{ item.timestamp }}</li>
        {% endfor %}
    </ul>

    <div class="chart-container">
        <canvas id="withdrawalChart">

    </div>
</div>



{{ currency|json_script:"currency" }}
{{ chain_id|json_script:"chain_id" }}
{{ data_deposit|json_script:"data_deposit" }}
{{ data_withdrawal|json_script:"data_withdrawal" }}




<script src="{% static 'js/render_charts.js' %}"></script>
<script src="{% static 'js/hypersockets.js' %}"></script>