{% load static %}



<div class="transaction-flex">
    <ul>
        <h4>Latest deposits:</h4>
        {% for item in data_deposit_latest %}
        <li class="transactions-li">{{ item.amount }} {{ item.currency }} {{ item.timestamp }}</li>
        {% endfor %}
    </ul>

    <div class="chart-container">
        <canvas id="depositChart">
    </div>


    <div class="pie-container">
        <canvas id="pieChart"></canvas>
        <h5 id="total-stored">Total Stored:</h5>
        <h5 id="total-stored-usd">Value in USD:</h5>
    </div>



</div>

<br>

<div class="transaction-flex">
    <ul>
        <h4>Latest withdrawals:</h4>
        {% for item in data_deposit_latest %}
        <li class="transactions-li">{{ item.amount }} {{ item.currency }} {{ item.timestamp }}</li>
        {% endfor %}
    </ul>

    <div class="chart-container">
        <canvas id="withdrawalChart">
    </div>
</div>



{{ currency|json_script:"currency" }}
{{ chain_id|json_script:"chain_id" }}
{{ data_deposit|json_script:"data_deposit" }}
{{ data_withdrawal|json_script:"data_withdrawal" }}
{{ contract_storage|json_script:"contract_storage" }}




<script src="{% static 'js/render_charts.js' %}"></script>
<script src="{% static 'js/render_pie.js' %}"></script>