<!-- Chart Canvas Element -->
<div width="1596" height="796" style="max-width: 800px; margin: auto;">
    <canvas id="myChart"></canvas>
</div>

<!--
<canvas id="myChart" width="1596" height="796" style="display: block; box-sizing: border-box; height: 398px; width: 798px;"></canvas>
-->

<script>
    const resultDict = {{ result_dict|safe }};
    
    
    const data = {
        amount: Object.values(resultDict.amount),
        timestamp: Object.values(resultDict.timestamp),
        count: Object.values(resultDict.count)
    };

    const labels = [...new Set(data.timestamp)];
    const amountLabels = [...new Set(data.amount)];

    const colours = ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'];

    const chartData = {
        labels: labels,
        datasets: amountLabels.map((amount, index) => ({
            label: `${amount} {{currency}}`,
            data: labels.map(label => {
                const indices = data.timestamp.map((timestamp, i) => {
                    return data.amount[i] === amount && timestamp === label ? i : null;
                }).filter(i => i !== null);
                
                return indices.length > 0 ? data.count[indices[0]] : 0;
            }),
            backgroundColor: colours[index % colours.length],
            borderColor: colours[index % colours.length],
            borderWidth: 1,
            barThickness: 1
        }))
    };

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Tornado Cash {{currency}} Deposits Over Time'
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
                legend: {
                    position: 'top',
                }
            },
            interaction: {
                mode: 'nearest',
                axis: 'x',
                intersect: false
            },
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                    },
                },
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Number of Deposits'
                    },
                    beginAtZero: true
                }
            }
        }
    });
</script>
