{% load static %}


<div style="width: 300px">
    <div class="box-modal">
        <header>
            <p>Change Network and Cryptocurrency</p>
        </header>
        <div class="networks" id="networkList"></div>
        <div class="cryptos" id="cryptoList"></div>
    </div>

    <script>
        let selectedNetwork = null;
        let selectedCrypto = null;
        var chainData;
        var networkNames;
        fetch('/cryptos')
            .then(response => response.json())
            .then(data => {
                // Process the data received from the server

                // Create networkNames dynamically from the data
                networkNames = Object.keys(data).reduce((names, networkId) => {
                    switch (networkId) {
                        case "1":
                            names[networkId] = ["Ethereum Mainnet", "ethereum"];
                            break;
                        case "5":
                            names[networkId] = ["Ethereum Goerli", "goerli"];
                            break;
                        case "56":
                            names[networkId] = ["Binance Smart Chain", "binance"];
                            break;
                        case "100":
                            names[networkId] = ["Gnosis Chain", "gnosis"];
                            break;
                        case "137":
                            names[networkId] = ["Polygon (Matic) Network", "polygon"];
                            break;
                        case "42161":
                            names[networkId] = ["Arbitrum One", "arbitrum"];
                            break;
                        case "43114":
                            names[networkId] = ["Avalanche Mainnet", "avalanche"];
                            break;
                        case "10":
                            names[networkId] = ["Optimism", "optimism"];
                            break;
                        // Add more mappings as needed
                        default:
                            names[networkId] = ["Unknown Network", "unknown network"];
                    }
                    return names;
                }, {});

                // Assign chainData directly from data
                chainData = data;

                // Example usage
                console.log('Network Names:', networkNames);
                console.log('Chain Data:', chainData);
                renderNetworks();
                renderCryptos();
            })
            .catch(error => {
                // Handle any errors that occur during the request
                console.error('Error fetching data:', error);
            });


        function renderNetworks() {
            const networkList = document.getElementById('networkList');
            networkList.innerHTML = '<h3>Select Network</h3>';

            for (const chainId in chainData) {
                const networkItem = document.createElement('div');
                let net_name = networkNames[chainId][0];
                let svg_name = networkNames[chainId][1];
                networkItem.className = `item${selectedNetwork === chainId[0] ? ' is-active' : ''}`;
                networkItem.onclick = () => setNetwork(chainId[0]);
                const imageUrl = `/static/img/icons/${svg_name}.svg`;

                console.log("HERE SVG", svg_name);

                networkItem.innerHTML = `
                    <img class="network-icon" src="${imageUrl}" alt="${net_name}" width=20>
                    <b>${net_name}</b>
                    <span class="network-checkbox"></span>
                `;
                networkList.appendChild(networkItem);
            }
        }

        function renderCryptos() {
            const cryptoList = document.getElementById('cryptoList');
            cryptoList.innerHTML = '<h3>Select Cryptocurrency</h3>';

            if (selectedNetwork) {
                for (const crypto in chainData[selectedNetwork]) {
                    const cryptoItem = document.createElement('div');
                    cryptoItem.className = `item${selectedCrypto === crypto ? ' is-active' : ''}`;
                    cryptoItem.onclick = () => setCrypto(crypto);
                    // <img class="crypto-icon" src="{% static '/img/${crypto.toLowerCase()}.svg' %}" alt="${crypto}">
                    cryptoItem.innerHTML = `
                        <img class="crypto-icon" src="{% static '/img/ethereum.svg' %}" alt="${crypto}" width=20>
                        <b>${crypto}</b>
                        <span class="crypto-checkbox"></span>
                    `;
                    cryptoList.appendChild(cryptoItem);
                }
            } else {
                cryptoList.innerHTML += '<p>Please select a network first</p>';
            }
        }

        function setNetwork(chainId) {
            selectedNetwork = chainId;
            selectedCrypto = null;
            renderNetworks();
            renderCryptos();
        }

        function setCrypto(crypto) {
            selectedCrypto = crypto;
            renderCryptos();
        }

        renderNetworks();
        renderCryptos();
    </script>
</div>